/* INDEX | css/index.css */

:root {
  --xs: 300px;
  --sm: 480px;
  --rg: 640px;
  --lg: 768px;
  --xl: 1024px;
  --xxl: 1536px;
  --xxxl: 1920px;
  --auto: auto;
  --initial: initial;
  --inherit: inherit;
  --unset: unset;
}
