/* ROOT VARIABLES OF COLORS */
@import url("css/colors/root.css");
/* ROOT VARIABLE OF CONTAINER */
@import url("css/layout/container/root.css");
/* ROOT VARIABLES OF COLUMNS */
@import url("css/layout/columns/root.css");
/* ROOT VARIABLES OF TOP RIGHT BOTTOM LEFT */
@import url("css/layout/top-right-bottom-left/root.css");

/* ROOT VARIABLES | css/root.css */

/* ROOT VARIABLES OF SIZING */
:root {
  --base: 16px;
  --size-0: 0;
  --size-1: 1px;
  --size-2: 2px;
  --size-3: 3px;
  --size-4: calc(var(--base, 16px) / 4);
  --size-8: calc(var(--base, 16px) / 2);
  --size-10: calc(var(--base, 16px) - 6px);
  --size-16: var(--base, 16px);
  --size-20: calc(var(--base, 16px) + 4px);
  --size-32: calc(var(--base, 16px) * 2);
  --size-48: calc(var(--base, 16px) * 3);
  --size-64: calc(var(--base, 16px) * 4);
  --size-80: calc(var(--base, 16px) * 5);
  --size-96: calc(var(--base, 16px) * 6);
}
