/* SATURATE | css/filters/saturate/saturate.css */

.saturate-0,
.filter-saturate-0 {
  filter: saturate(0);
}

.saturate-50,
.filter-saturate-50 {
  filter: saturate(0.5);
}

.saturate-100,
.filter-saturate-100 {
  filter: saturate(1);
}

.saturate-150,
.filter-saturate-150 {
  filter: saturate(1.5);
}

.saturate-200,
.filter-saturate-200 {
  filter: saturate(2);
}

.saturate-initial,
.filter-saturate-initial {
  filter: saturate(initial);
}

.saturate-inherit,
.filter-saturate-inherit {
  filter: saturate(inherit);
}

.saturate-unset,
.filter-saturate-unset {
  filter: saturate(unset);
}
