/* LINE HEIGHT | css/typography/line-height/line-height.css */

.line-height-0,
.lh-0 {
  line-height: var(--size-0);
}

.line-height-1,
.lh-1 {
  line-height: var(--size-1);
}

.line-height-2,
.lh-2 {
  line-height: var(--size-2);
}

.line-height-3,
.lh-3 {
  line-height: var(--size-3);
}

.line-height-4,
.lh-4 {
  line-height: var(--size-4);
}

.line-height-8,
.lh-8 {
  line-height: var(--size-8);
}

.line-height-10,
.lh-10 {
  line-height: var(--size-10);
}

.line-height-16,
.lh-16 {
  line-height: var(--size-16);
}

.line-height-20,
.lh-20 {
  line-height: var(--size-20);
}

.line-height-32,
.lh-32 {
  line-height: var(--size-32);
}

.line-height-48,
.lh-48 {
  line-height: var(--size-48);
}

.line-height-64,
.lh-64 {
  line-height: var(--size-64);
}

.line-height-80,
.lh-80 {
  line-height: var(--size-80);
}

.line-height-96,
.lh-96 {
  line-height: var(--size-96);
}

.line-height-none,
.lh-none,
.leading-none {
  line-height: 1;
}

.line-height-tight,
.lh-tight,
.leading-tight {
  line-height: 1.25;
}

.line-height-snug,
.lh-snug,
.leading-snug {
  line-height: 1.375;
}

.line-height-normal,
.lh-normal,
.leading-normal {
  line-height: 1.5;
}

.line-height-relaxed,
.lh-relaxed,
.leading-relaxed {
  line-height: 1.625;
}

.line-height-loose,
.lh-loose,
.leading-loose {
  line-height: 2;
}

.line-height-100pr,
.line-height-100,
.lh-100pr,
.lh-100,
.leading-100pr,
.leading-100 {
  line-height: 100%;
}

.line-height-initial,
.lh-initial,
.leading-initial {
  line-height: initial;
}

.line-height-inherit,
.lh-inherit,
.leading-inherit {
  line-height: inherit;
}

.line-height-unset,
.lh-unset,
.leading-unset {
  line-height: unset;
}
