:root {
  --clr-primary-hue: 223;
  --clr-primary-50: hsl(var(--clr-primary-hue), 100%, 95%);
  --clr-primary-100: hsl(var(--clr-primary-hue), 100%, 85%);
  --clr-primary-200: hsl(var(--clr-primary-hue), 100%, 75%);
  --clr-primary-300: hsl(var(--clr-primary-hue), 100%, 65%);
  --clr-primary-400: hsl(var(--clr-primary-hue), 100%, 55%);
  --clr-primary-500: hsl(var(--clr-primary-hue), 100%, 45%);
  --clr-primary-600: hsl(var(--clr-primary-hue), 100%, 35%);
  --clr-primary-700: hsl(var(--clr-primary-hue), 100%, 25%);
  --clr-primary-800: hsl(var(--clr-primary-hue), 100%, 15%);
  --clr-primary-900: hsl(var(--clr-primary-hue), 100%, 10%);
  --clr-primary-950: hsl(var(--clr-primary-hue), 100%, 5%);

  --clr-secondary-hue: 22;
  --clr-secondary-50: hsl(var(--clr-secondary-hue), 100%, 95%);
  --clr-secondary-100: hsl(var(--clr-secondary-hue), 100%, 85%);
  --clr-secondary-200: hsl(var(--clr-secondary-hue), 100%, 75%);
  --clr-secondary-300: hsl(var(--clr-secondary-hue), 100%, 65%);
  --clr-secondary-400: hsl(var(--clr-secondary-hue), 100%, 55%);
  --clr-secondary-500: hsl(var(--clr-secondary-hue), 100%, 45%);
  --clr-secondary-600: hsl(var(--clr-secondary-hue), 100%, 35%);
  --clr-secondary-700: hsl(var(--clr-secondary-hue), 100%, 25%);
  --clr-secondary-800: hsl(var(--clr-secondary-hue), 100%, 15%);
  --clr-secondary-900: hsl(var(--clr-secondary-hue), 100%, 10%);
  --clr-secondary-950: hsl(var(--clr-secondary-hue), 100%, 5%);

  --clr-accent-hue: 60;
  --clr-accent-50: hsl(var(--clr-accent-hue), 100%, 95%);
  --clr-accent-100: hsl(var(--clr-accent-hue), 100%, 85%);
  --clr-accent-200: hsl(var(--clr-accent-hue), 100%, 75%);
  --clr-accent-300: hsl(var(--clr-accent-hue), 100%, 65%);
  --clr-accent-400: hsl(var(--clr-accent-hue), 100%, 55%);
  --clr-accent-500: hsl(var(--clr-accent-hue), 100%, 45%);
  --clr-accent-600: hsl(var(--clr-accent-hue), 100%, 35%);
  --clr-accent-700: hsl(var(--clr-accent-hue), 100%, 25%);
  --clr-accent-800: hsl(var(--clr-accent-hue), 100%, 15%);
  --clr-accent-900: hsl(var(--clr-accent-hue), 100%, 10%);
  --clr-accent-950: hsl(var(--clr-accent-hue), 100%, 5%);

  --clr-white-hue: 0;
  --clr-white-50: hsl(var(--clr-white-hue), 0%, 60%);
  --clr-white-100: hsl(var(--clr-white-hue), 0%, 64%);
  --clr-white-200: hsl(var(--clr-white-hue), 0%, 68%);
  --clr-white-300: hsl(var(--clr-white-hue), 0%, 72%);
  --clr-white-400: hsl(var(--clr-white-hue), 0%, 76%);
  --clr-white-500: hsl(var(--clr-white-hue), 0%, 80%);
  --clr-white-600: hsl(var(--clr-white-hue), 0%, 84%);
  --clr-white-700: hsl(var(--clr-white-hue), 0%, 88%);
  --clr-white-800: hsl(var(--clr-white-hue), 0%, 92%);
  --clr-white-900: hsl(var(--clr-white-hue), 0%, 96%);
  --clr-white-950: hsl(var(--clr-white-hue), 0%, 100%);

  --clr-black-hue: 0;
  --clr-black-50: hsl(var(--clr-black-hue), 0%, 40%);
  --clr-black-100: hsl(var(--clr-black-hue), 0%, 36%);
  --clr-black-200: hsl(var(--clr-black-hue), 0%, 32%);
  --clr-black-300: hsl(var(--clr-black-hue), 0%, 28%);
  --clr-black-400: hsl(var(--clr-black-hue), 0%, 24%);
  --clr-black-500: hsl(var(--clr-black-hue), 0%, 20%);
  --clr-black-600: hsl(var(--clr-black-hue), 0%, 16%);
  --clr-black-700: hsl(var(--clr-black-hue), 0%, 12%);
  --clr-black-800: hsl(var(--clr-black-hue), 0%, 8%);
  --clr-black-900: hsl(var(--clr-black-hue), 0%, 4%);
  --clr-black-950: hsl(var(--clr-black-hue), 0%, 0%);

  --clr-grey-hue: 0;
  --clr-grey-50: hsl(var(--clr-grey-hue), 0%, 42%);
  --clr-grey-100: hsl(var(--clr-grey-hue), 0%, 44%);
  --clr-grey-200: hsl(var(--clr-grey-hue), 0%, 46%);
  --clr-grey-300: hsl(var(--clr-grey-hue), 0%, 48%);
  --clr-grey-400: hsl(var(--clr-grey-hue), 0%, 50%);
  --clr-grey-500: hsl(var(--clr-grey-hue), 0%, 52%);
  --clr-grey-600: hsl(var(--clr-grey-hue), 0%, 54%);
  --clr-grey-700: hsl(var(--clr-grey-hue), 0%, 56%);
  --clr-grey-800: hsl(var(--clr-grey-hue), 0%, 58%);
  --clr-grey-900: hsl(var(--clr-grey-hue), 0%, 60%);
  --clr-grey-950: hsl(var(--clr-grey-hue), 0%, 62%);

  --clr-neutral-hue: 170;
  --clr-neutral-50: hsl(var(--clr-neutral-hue), 17%, 95%);
  --clr-neutral-100: hsl(var(--clr-neutral-hue), 17%, 85%);
  --clr-neutral-200: hsl(var(--clr-neutral-hue), 17%, 75%);
  --clr-neutral-300: hsl(var(--clr-neutral-hue), 17%, 65%);
  --clr-neutral-400: hsl(var(--clr-neutral-hue), 17%, 55%);
  --clr-neutral-500: hsl(var(--clr-neutral-hue), 17%, 45%);
  --clr-neutral-600: hsl(var(--clr-neutral-hue), 17%, 35%);
  --clr-neutral-700: hsl(var(--clr-neutral-hue), 17%, 25%);
  --clr-neutral-800: hsl(var(--clr-neutral-hue), 17%, 15%);
  --clr-neutral-900: hsl(var(--clr-neutral-hue), 17%, 10%);
  --clr-neutral-950: hsl(var(--clr-neutral-hue), 17%, 5%);

  --clr-red-hue: 0;
  --clr-red-50: hsl(var(--clr-red-hue), 100%, 95%);
  --clr-red-100: hsl(var(--clr-red-hue), 100%, 85%);
  --clr-red-200: hsl(var(--clr-red-hue), 100%, 75%);
  --clr-red-300: hsl(var(--clr-red-hue), 100%, 65%);
  --clr-red-400: hsl(var(--clr-red-hue), 100%, 55%);
  --clr-red-500: hsl(var(--clr-red-hue), 100%, 45%);
  --clr-red-600: hsl(var(--clr-red-hue), 100%, 35%);
  --clr-red-700: hsl(var(--clr-red-hue), 100%, 25%);
  --clr-red-800: hsl(var(--clr-red-hue), 100%, 15%);
  --clr-red-900: hsl(var(--clr-red-hue), 100%, 10%);
  --clr-red-950: hsl(var(--clr-red-hue), 100%, 5%);

  --clr-green-hue: 120;
  --clr-green-50: hsl(var(--clr-green-hue), 100%, 95%);
  --clr-green-100: hsl(var(--clr-green-hue), 100%, 85%);
  --clr-green-200: hsl(var(--clr-green-hue), 100%, 75%);
  --clr-green-300: hsl(var(--clr-green-hue), 100%, 65%);
  --clr-green-400: hsl(var(--clr-green-hue), 100%, 55%);
  --clr-green-500: hsl(var(--clr-green-hue), 100%, 45%);
  --clr-green-600: hsl(var(--clr-green-hue), 100%, 35%);
  --clr-green-700: hsl(var(--clr-green-hue), 100%, 25%);
  --clr-green-800: hsl(var(--clr-green-hue), 100%, 15%);
  --clr-green-900: hsl(var(--clr-green-hue), 100%, 10%);
  --clr-green-950: hsl(var(--clr-green-hue), 100%, 5%);

  --clr-blue-hue: 240;
  --clr-blue-50: hsl(var(--clr-blue-hue), 100%, 95%);
  --clr-blue-100: hsl(var(--clr-blue-hue), 100%, 85%);
  --clr-blue-200: hsl(var(--clr-blue-hue), 100%, 75%);
  --clr-blue-300: hsl(var(--clr-blue-hue), 100%, 65%);
  --clr-blue-400: hsl(var(--clr-blue-hue), 100%, 55%);
  --clr-blue-500: hsl(var(--clr-blue-hue), 100%, 45%);
  --clr-blue-600: hsl(var(--clr-blue-hue), 100%, 35%);
  --clr-blue-700: hsl(var(--clr-blue-hue), 100%, 25%);
  --clr-blue-800: hsl(var(--clr-blue-hue), 100%, 15%);
  --clr-blue-900: hsl(var(--clr-blue-hue), 100%, 10%);
  --clr-blue-950: hsl(var(--clr-blue-hue), 100%, 5%);

  --clr-yellow-hue: 60;
  --clr-yellow-50: hsl(var(--clr-yellow-hue), 100%, 95%);
  --clr-yellow-100: hsl(var(--clr-yellow-hue), 100%, 85%);
  --clr-yellow-200: hsl(var(--clr-yellow-hue), 100%, 75%);
  --clr-yellow-300: hsl(var(--clr-yellow-hue), 100%, 65%);
  --clr-yellow-400: hsl(var(--clr-yellow-hue), 100%, 55%);
  --clr-yellow-500: hsl(var(--clr-yellow-hue), 100%, 45%);
  --clr-yellow-600: hsl(var(--clr-yellow-hue), 100%, 35%);
  --clr-yellow-700: hsl(var(--clr-yellow-hue), 100%, 25%);
  --clr-yellow-800: hsl(var(--clr-yellow-hue), 100%, 15%);
  --clr-yellow-900: hsl(var(--clr-yellow-hue), 100%, 10%);
  --clr-yellow-950: hsl(var(--clr-yellow-hue), 100%, 5%);

  --clr-chartreuse-green-hue: 240;
  --clr-chartreuse-green-50: hsl(var(--clr-chartreuse-green-hue), 100%, 95%);
  --clr-chartreuse-green-100: hsl(var(--clr-chartreuse-green-hue), 100%, 85%);
  --clr-chartreuse-green-200: hsl(var(--clr-chartreuse-green-hue), 100%, 75%);
  --clr-chartreuse-green-300: hsl(var(--clr-chartreuse-green-hue), 100%, 65%);
  --clr-chartreuse-green-400: hsl(var(--clr-chartreuse-green-hue), 100%, 55%);
  --clr-chartreuse-green-500: hsl(var(--clr-chartreuse-green-hue), 100%, 45%);
  --clr-chartreuse-green-600: hsl(var(--clr-chartreuse-green-hue), 100%, 35%);
  --clr-chartreuse-green-700: hsl(var(--clr-chartreuse-green-hue), 100%, 25%);
  --clr-chartreuse-green-800: hsl(var(--clr-chartreuse-green-hue), 100%, 15%);
  --clr-chartreuse-green-900: hsl(var(--clr-chartreuse-green-hue), 100%, 10%);
  --clr-chartreuse-green-950: hsl(var(--clr-chartreuse-green-hue), 100%, 5%);

  --clr-spring-green-hue: 150;
  --clr-spring-green-50: hsl(var(--clr-spring-green-hue), 100%, 95%);
  --clr-spring-green-100: hsl(var(--clr-spring-green-hue), 100%, 85%);
  --clr-spring-green-200: hsl(var(--clr-spring-green-hue), 100%, 75%);
  --clr-spring-green-300: hsl(var(--clr-spring-green-hue), 100%, 65%);
  --clr-spring-green-400: hsl(var(--clr-spring-green-hue), 100%, 55%);
  --clr-spring-green-500: hsl(var(--clr-spring-green-hue), 100%, 45%);
  --clr-spring-green-600: hsl(var(--clr-spring-green-hue), 100%, 35%);
  --clr-spring-green-700: hsl(var(--clr-spring-green-hue), 100%, 25%);
  --clr-spring-green-800: hsl(var(--clr-spring-green-hue), 100%, 15%);
  --clr-spring-green-900: hsl(var(--clr-spring-green-hue), 100%, 10%);
  --clr-spring-green-950: hsl(var(--clr-spring-green-hue), 100%, 5%);

  --clr-orange-hue: 30;
  --clr-orange-50: hsl(var(--clr-orange-hue), 100%, 95%);
  --clr-orange-100: hsl(var(--clr-orange-hue), 100%, 85%);
  --clr-orange-200: hsl(var(--clr-orange-hue), 100%, 75%);
  --clr-orange-300: hsl(var(--clr-orange-hue), 100%, 65%);
  --clr-orange-400: hsl(var(--clr-orange-hue), 100%, 55%);
  --clr-orange-500: hsl(var(--clr-orange-hue), 100%, 45%);
  --clr-orange-600: hsl(var(--clr-orange-hue), 100%, 35%);
  --clr-orange-700: hsl(var(--clr-orange-hue), 100%, 25%);
  --clr-orange-800: hsl(var(--clr-orange-hue), 100%, 15%);
  --clr-orange-900: hsl(var(--clr-orange-hue), 100%, 10%);
  --clr-orange-950: hsl(var(--clr-orange-hue), 100%, 5%);

  --clr-cyan-hue: 180;
  --clr-cyan-50: hsl(var(--clr-cyan-hue), 100%, 95%);
  --clr-cyan-100: hsl(var(--clr-cyan-hue), 100%, 85%);
  --clr-cyan-200: hsl(var(--clr-cyan-hue), 100%, 75%);
  --clr-cyan-300: hsl(var(--clr-cyan-hue), 100%, 65%);
  --clr-cyan-400: hsl(var(--clr-cyan-hue), 100%, 55%);
  --clr-cyan-500: hsl(var(--clr-cyan-hue), 100%, 45%);
  --clr-cyan-600: hsl(var(--clr-cyan-hue), 100%, 35%);
  --clr-cyan-700: hsl(var(--clr-cyan-hue), 100%, 25%);
  --clr-cyan-800: hsl(var(--clr-cyan-hue), 100%, 15%);
  --clr-cyan-900: hsl(var(--clr-cyan-hue), 100%, 10%);
  --clr-cyan-950: hsl(var(--clr-cyan-hue), 100%, 5%);

  --clr-azure-hue: 210;
  --clr-azure-50: hsl(var(--clr-azure-hue), 100%, 95%);
  --clr-azure-100: hsl(var(--clr-azure-hue), 100%, 85%);
  --clr-azure-200: hsl(var(--clr-azure-hue), 100%, 75%);
  --clr-azure-300: hsl(var(--clr-azure-hue), 100%, 65%);
  --clr-azure-400: hsl(var(--clr-azure-hue), 100%, 55%);
  --clr-azure-500: hsl(var(--clr-azure-hue), 100%, 45%);
  --clr-azure-600: hsl(var(--clr-azure-hue), 100%, 35%);
  --clr-azure-700: hsl(var(--clr-azure-hue), 100%, 25%);
  --clr-azure-800: hsl(var(--clr-azure-hue), 100%, 15%);
  --clr-azure-900: hsl(var(--clr-azure-hue), 100%, 10%);
  --clr-azure-950: hsl(var(--clr-azure-hue), 100%, 5%);

  --clr-violet-hue: 270;
  --clr-violet-50: hsl(var(--clr-violet-hue), 100%, 95%);
  --clr-violet-100: hsl(var(--clr-violet-hue), 100%, 85%);
  --clr-violet-200: hsl(var(--clr-violet-hue), 100%, 75%);
  --clr-violet-300: hsl(var(--clr-violet-hue), 100%, 65%);
  --clr-violet-400: hsl(var(--clr-violet-hue), 100%, 55%);
  --clr-violet-500: hsl(var(--clr-violet-hue), 100%, 45%);
  --clr-violet-600: hsl(var(--clr-violet-hue), 100%, 35%);
  --clr-violet-700: hsl(var(--clr-violet-hue), 100%, 25%);
  --clr-violet-800: hsl(var(--clr-violet-hue), 100%, 15%);
  --clr-violet-900: hsl(var(--clr-violet-hue), 100%, 10%);
  --clr-violet-950: hsl(var(--clr-violet-hue), 100%, 5%);

  --clr-magenta-hue: 300;
  --clr-magenta-50: hsl(var(--clr-magenta-hue), 100%, 95%);
  --clr-magenta-100: hsl(var(--clr-magenta-hue), 100%, 85%);
  --clr-magenta-200: hsl(var(--clr-magenta-hue), 100%, 75%);
  --clr-magenta-300: hsl(var(--clr-magenta-hue), 100%, 65%);
  --clr-magenta-400: hsl(var(--clr-magenta-hue), 100%, 55%);
  --clr-magenta-500: hsl(var(--clr-magenta-hue), 100%, 45%);
  --clr-magenta-600: hsl(var(--clr-magenta-hue), 100%, 35%);
  --clr-magenta-700: hsl(var(--clr-magenta-hue), 100%, 25%);
  --clr-magenta-800: hsl(var(--clr-magenta-hue), 100%, 15%);
  --clr-magenta-900: hsl(var(--clr-magenta-hue), 100%, 10%);
  --clr-magenta-950: hsl(var(--clr-magenta-hue), 100%, 5%);

  --clr-rose-hue: 330;
  --clr-rose-50: hsl(var(--clr-rose-hue), 100%, 95%);
  --clr-rose-100: hsl(var(--clr-rose-hue), 100%, 85%);
  --clr-rose-200: hsl(var(--clr-rose-hue), 100%, 75%);
  --clr-rose-300: hsl(var(--clr-rose-hue), 100%, 65%);
  --clr-rose-400: hsl(var(--clr-rose-hue), 100%, 55%);
  --clr-rose-500: hsl(var(--clr-rose-hue), 100%, 45%);
  --clr-rose-600: hsl(var(--clr-rose-hue), 100%, 35%);
  --clr-rose-700: hsl(var(--clr-rose-hue), 100%, 25%);
  --clr-rose-800: hsl(var(--clr-rose-hue), 100%, 15%);
  --clr-rose-900: hsl(var(--clr-rose-hue), 100%, 10%);
  --clr-rose-950: hsl(var(--clr-rose-hue), 100%, 5%);

  --clr-danger-hue: 0;
  --clr-danger-50: hsl(var(--clr-danger-hue), 80%, 95%);
  --clr-danger-100: hsl(var(--clr-danger-hue), 80%, 85%);
  --clr-danger-200: hsl(var(--clr-danger-hue), 80%, 75%);
  --clr-danger-300: hsl(var(--clr-danger-hue), 80%, 65%);
  --clr-danger-400: hsl(var(--clr-danger-hue), 80%, 55%);
  --clr-danger-500: hsl(var(--clr-danger-hue), 80%, 45%);
  --clr-danger-600: hsl(var(--clr-danger-hue), 80%, 35%);
  --clr-danger-700: hsl(var(--clr-danger-hue), 80%, 25%);
  --clr-danger-800: hsl(var(--clr-danger-hue), 80%, 15%);
  --clr-danger-900: hsl(var(--clr-danger-hue), 80%, 10%);
  --clr-danger-950: hsl(var(--clr-danger-hue), 80%, 5%);

  --clr-warning-hue: 40;
  --clr-warning-50: hsl(var(--clr-warning-hue), 100%, 95%);
  --clr-warning-100: hsl(var(--clr-warning-hue), 100%, 85%);
  --clr-warning-200: hsl(var(--clr-warning-hue), 100%, 75%);
  --clr-warning-300: hsl(var(--clr-warning-hue), 100%, 65%);
  --clr-warning-400: hsl(var(--clr-warning-hue), 100%, 55%);
  --clr-warning-500: hsl(var(--clr-warning-hue), 100%, 45%);
  --clr-warning-600: hsl(var(--clr-warning-hue), 100%, 35%);
  --clr-warning-700: hsl(var(--clr-warning-hue), 100%, 25%);
  --clr-warning-800: hsl(var(--clr-warning-hue), 100%, 15%);
  --clr-warning-900: hsl(var(--clr-warning-hue), 100%, 10%);
  --clr-warning-950: hsl(var(--clr-warning-hue), 100%, 5%);

  --clr-success-hue: 120;
  --clr-success-50: hsl(var(--clr-success-hue), 75%, 95%);
  --clr-success-100: hsl(var(--clr-success-hue), 75%, 85%);
  --clr-success-200: hsl(var(--clr-success-hue), 75%, 75%);
  --clr-success-300: hsl(var(--clr-success-hue), 75%, 65%);
  --clr-success-400: hsl(var(--clr-success-hue), 75%, 55%);
  --clr-success-500: hsl(var(--clr-success-hue), 75%, 45%);
  --clr-success-600: hsl(var(--clr-success-hue), 75%, 35%);
  --clr-success-700: hsl(var(--clr-success-hue), 75%, 25%);
  --clr-success-800: hsl(var(--clr-success-hue), 75%, 15%);
  --clr-success-900: hsl(var(--clr-success-hue), 75%, 10%);
  --clr-success-950: hsl(var(--clr-success-hue), 75%, 5%);

  --clr-info-hue: 210;
  --clr-info-50: hsl(var(--clr-info-hue), 90%, 95%);
  --clr-info-100: hsl(var(--clr-info-hue), 90%, 85%);
  --clr-info-200: hsl(var(--clr-info-hue), 90%, 75%);
  --clr-info-300: hsl(var(--clr-info-hue), 90%, 65%);
  --clr-info-400: hsl(var(--clr-info-hue), 90%, 55%);
  --clr-info-500: hsl(var(--clr-info-hue), 90%, 45%);
  --clr-info-600: hsl(var(--clr-info-hue), 90%, 35%);
  --clr-info-700: hsl(var(--clr-info-hue), 90%, 25%);
  --clr-info-800: hsl(var(--clr-info-hue), 90%, 15%);
  --clr-info-900: hsl(var(--clr-info-hue), 90%, 10%);
  --clr-info-950: hsl(var(--clr-info-hue), 90%, 5%);

}
