/* JUSTIFY CONTENT | css/flexbox-grid/justify-content/justify-content.css */

.justify-content-normal,
.jc-normal {
  justify-content: normal;
}

.justify-content-flex-start,
.jc-flex-start {
  justify-content: flex-start;
}

.justify-content-start,
.jc-start {
  justify-content: start;
}

.justify-content-flex-end,
.jc-flex-end {
  justify-content: flex-end;
}

.justify-content-end,
.jc-end {
  justify-content: end;
}

.justify-content-center,
.jc-center {
  justify-content: center;
}

.justify-content-space-between,
.jc-space-between {
  justify-content: space-between;
}

.justify-content-space-around,
.jc-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly,
.jc-space-evenly {
  justify-content: space-evenly;
}

.justify-content-stretch,
.jc-stretch {
  justify-content: stretch;
}

.justify-content-initial,
.jc-initial {
  justify-content: initial;
}

.justify-content-inherit,
.jc-inherit {
  justify-content: inherit;
}

.justify-content-unset,
.jc-unset {
  justify-content: unset;
}
