/* OPACITY | css/effects/opacity/opacity.css */

.opacity-0 {
  opacity: 0;
}

.opacity-5,
.opacity-5pr {
  opacity: 0.05;
}

.opacity-10,
.opacity-10pr {
  opacity: 0.1;
}

.opacity-15,
.opacity-15pr {
  opacity: 0.15;
}

.opacity-20,
.opacity-20pr {
  opacity: 0.2;
}

.opacity-25,
.opacity-25pr {
  opacity: 0.25;
}

.opacity-30,
.opacity-30pr {
  opacity: 0.3;
}

.opacity-35,
.opacity-35pr {
  opacity: 0.35;
}

.opacity-40,
.opacity-40pr {
  opacity: 0.4;
}

.opacity-45,
.opacity-45pr {
  opacity: 0.45;
}

.opacity-50,
.opacity-50pr {
  opacity: 0.5;
}

.opacity-55,
.opacity-55pr {
  opacity: 0.55;
}

.opacity-60,
.opacity-60pr {
  opacity: 0.6;
}

.opacity-65,
.opacity-65pr {
  opacity: 0.65;
}

.opacity-70,
.opacity-70pr {
  opacity: 0.7;
}

.opacity-75,
.opacity-75pr {
  opacity: 0.75;
}

.opacity-80,
.opacity-80pr {
  opacity: 0.8;
}

.opacity-85,
.opacity-85pr {
  opacity: 0.85;
}

.opacity-90,
.opacity-90pr {
  opacity: 0.9;
}

.opacity-95,
.opacity-95pr {
  opacity: 0.95;
}

.opacity-100,
.opacity-1,
.opacity-100pr {
  opacity: 1;
}

.opacity-initial {
  opacity: initial;
}

.opacity-inherit {
  opacity: inherit;
}

.opacity-unset {
  opacity: unset;
}
