/* BACKDROP HUE ROTATE | css/filters/backdrop-hue-rotate/backdrop-ue-rotate.css */

.filter-backdrop-hue-rotate-0,
.backdrop-hue-rotate-0 {
  backdrop-filter: hue-rotate(0);
}

.filter-backdrop-hue-rotate-15,
.backdrop-hue-rotate-15 {
  backdrop-filter: hue-rotate(15deg);
}

.filter-backdrop-hue-rotate-30,
.backdrop-hue-rotate-30 {
  backdrop-filter: hue-rotate(30deg);
}

.filter-backdrop-hue-rotate-60,
.backdrop-hue-rotate-60 {
  backdrop-filter: hue-rotate(60deg);
}

.filter-backdrop-hue-rotate-90,
.backdrop-hue-rotate-90 {
  backdrop-filter: hue-rotate(90deg);
}

.filter-backdrop-hue-rotate-180,
.backdrop-hue-rotate-180 {
  backdrop-filter: hue-rotate(180deg);
}

.filter-backdrop-hue-rotate-240,
.backdrop-hue-rotate-240 {
  backdrop-filter: hue-rotate(240deg);
}

.filter-backdrop-hue-rotate-360,
.backdrop-hue-rotate-360 {
  backdrop-filter: hue-rotate(360deg);
}
