/* FLEX SHRINK | css/flexbox-grid/flex-shrink/flex-shrink.css */

.flex-shrink-0,
.shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1,
.shrink-1 {
  flex-shrink: 1;
}

.flex-shrink-initial,
.shrink-initial {
  flex-shrink: initial;
}

.flex-shrink-inherit,
.shrink-inherit {
  flex-shrink: inherit;
}

.flex-shrink-unset,
.shrink-unset {
  flex-shrink: unset;
}
