/* BOX SIZING | css/layout/box-sizing/box-sizing.css */

.box-sizing-border-box,
.bs-border-box {
  box-sizing: border-box;
}

.box-sizing-content-box,
.bs-content-box {
  box-sizing: content-box;
}

.box-sizing-initial,
.bs-initial {
  box-sizing: initial;
}

.box-sizing-inherit,
.bs-inherit {
  box-sizing: inherit;
}

.box-sizing-unset,
.bs-unset {
  box-sizing: unset;
}
