/* BORDER SPACING | css/tables/border-spacing/border-spacing.css */

.border-spacing-0 {
  border-spacing: var(--size-0);
}

.border-spacing-1 {
  border-spacing: var(--size-1) var(--size-1);
}

.border-spacing-2 {
  border-spacing: var(--size-2) var(--size-2);
}

.border-spacing-3 {
  border-spacing: var(--size-3) var(--size-3);
}

.border-spacing-4 {
  border-spacing: var(--size-4) var(--size-4);
}

.border-spacing-8 {
  border-spacing: var(--size-8) var(--size-8);
}

.border-spacing-10 {
  border-spacing: var(--size-10) var(--size-10);
}

.border-spacing-16 {
  border-spacing: var(--size-16) var(--size-16);
}

.border-spacing-20 {
  border-spacing: var(--size-20) var(--size-20);
}

.border-spacing-32 {
  border-spacing: var(--size-32) var(--size-32);
}

.border-spacing-48 {
  border-spacing: var(--size-48) var(--size-48);
}

.border-spacing-64 {
  border-spacing: var(--size-64) var(--size-64);
}

.border-spacing-80 {
  border-spacing: var(--size-80) var(--size-80);
}

.border-spacing-96 {
  border-spacing: var(--size-96) var(--size-1);
}

.border-spacing-initial {
  border-spacing: initial initial;
}

.border-spacing-inherit {
  border-spacing: inherit inherit;
}

.border-spacing-unset {
  border-spacing: unset unset;
}
