/* GRID ROW | css/flexbox-grid/grid-row/grid-row.css */

.grid-row-auto,
.gr-auto,
.row-auto {
  grid-row: auto;
}

.grid-row-span-1,
.gr-span-1,
.row-span-1 {
  grid-row: span 1 / span 1;
}

.grid-row-span-2,
.gr-span-2,
.row-span-2 {
  grid-row: span 2 / span 2;
}

.grid-row-span-3,
.gr-span-3,
.row-span-3 {
  grid-row: span 3 / span 3;
}

.grid-row-span-4,
.gr-span-4,
.row-span-4 {
  grid-row: span 4 / span 4;
}

.grid-row-span-5,
.gr-span-5,
.row-span-5 {
  grid-row: span 5 / span 5;
}

.grid-row-span-6,
.gr-span-6,
.row-span-6 {
  grid-row: span 6 / span 6;
}

.grid-row-span-7,
.gr-span-7,
.row-span-7 {
  grid-row: span 7 / span 7;
}

.grid-row-span-8,
.gr-span-8,
.row-span-8 {
  grid-row: span 8 / span 8;
}

.grid-row-span-9,
.gr-span-9,
.row-span-9 {
  grid-row: span 9 / span 9;
}

.grid-row-span-10,
.gr-span-10,
.row-span-10 {
  grid-row: span 10 / span 10;
}

.grid-row-span-11,
.gr-span-11,
.row-span-11 {
  grid-row: span 11 / span 11;
}

.grid-row-span-12,
.gr-span-12,
.row-span-12 {
  grid-row: span 12 / span 12;
}

.grid-row-span-initial,
.gr-span-initial,
.row-span-initial {
  grid-row: initial;
}

.grid-row-span-inherit,
.gr-span-inherit,
.row-span-inherit {
  grid-row: inherit;
}

.grid-row-span-unset,
.gr-span-unset,
.row-span-unset {
  grid-row: unset;
}

.grid-row-span-full,
.gr-span-full,
.row-span-full {
  grid-row: 1 / -1;
}

.grid-row-start-1,
.grs-1,
.row-start-1 {
  grid-row-start: 1;
}

.grid-row-start-2,
.grs-2,
.row-start-2 {
  grid-row-start: 2;
}

.grid-row-start-3,
.grs-3,
.row-start-3 {
  grid-row-start: 3;
}

.grid-row-start-4,
.grs-4,
.row-start-4 {
  grid-row-start: 4;
}

.grid-row-start-5,
.grs-5,
.row-start-5 {
  grid-row-start: 5;
}

.grid-row-start-6,
.grs-6,
.row-start-6 {
  grid-row-start: 6;
}

.grid-row-start-7,
.grs-7,
.row-start-7 {
  grid-row-start: 7;
}

.grid-row-start-8,
.grs-8,
.row-start-8 {
  grid-row-start: 8;
}

.grid-row-start-9,
.grs-9,
.row-start-9 {
  grid-row-start: 9;
}

.grid-row-start-10,
.grs-10,
.row-start-10 {
  grid-row-start: 10;
}

.grid-row-start-11,
.grs-11,
.row-start-11 {
  grid-row-start: 11;
}

.grid-row-start-12,
.grs-12,
.row-start-12 {
  grid-row-start: 12;
}

.grid-row-start-13,
.grs-13,
.row-start-13 {
  grid-row-start: 13;
}

.grid-row-start-auto,
.grs-auto,
.row-start-auto {
  grid-row-start: auto;
}

.grid-row-start-initial,
.grs-initial,
.row-start-initial {
  grid-row-start: initial;
}

.grid-row-start-inherit,
.grs-inherit,
.row-start-inherit {
  grid-row-start: inherit;
}

.grid-row-start-unset,
.grs-unset,
.row-start-unset {
  grid-row-start: unset;
}

.grid-row-end-1,
.gre-1,
.row-end-1 {
  grid-row-end: 1;
}

.grid-row-end-2,
.gre-2,
.row-end-2 {
  grid-row-end: 2;
}

.grid-row-end-3,
.gre-3,
.row-end-3 {
  grid-row-end: 3;
}

.grid-row-end-4,
.gre-4,
.row-end-4 {
  grid-row-end: 4;
}

.grid-row-end-5,
.gre-5,
.row-end-5 {
  grid-row-end: 5;
}

.grid-row-end-6,
.gre-6,
.row-end-6 {
  grid-row-end: 6;
}

.grid-row-end-7,
.gre-7,
.row-end-7 {
  grid-row-end: 7;
}

.grid-row-end-8,
.gre-8,
.row-end-8 {
  grid-row-end: 8;
}

.grid-row-end-9,
.gre-9,
.row-end-9 {
  grid-row-end: 9;
}

.grid-row-end-10,
.gre-10,
.row-end-10 {
  grid-row-end: 10;
}

.grid-row-end-11,
.gre-11,
.row-end-11 {
  grid-row-end: 11;
}

.grid-row-end-12,
.gre-12,
.row-end-12 {
  grid-row-end: 12;
}

.grid-row-end-13,
.gre-13,
.row-end-13 {
  grid-row-end: 13;
}

.grid-row-end-auto,
.gre-auto,
.row-end-auto {
  grid-row-end: auto;
}

.grid-row-end-initial,
.gre-initial,
.row-end-initial {
  grid-row-end: initial;
}

.grid-row-end-inherit,
.gre-inherit,
.row-end-inherit {
  grid-row-end: inherit;
}

.grid-row-end-unset,
.gre-unset,
.row-end-unset {
  grid-row-end: unset;
}
