/* CONTRAST | css/filters/contrast/contrast.css */

.contrast-0,
.filter-contrast-0 {
  filter: contrast(0);
}

.contrast-5,
.filter-contrast-5 {
  filter: contrast(0.5);
}

.contrast-10,
.filter-contrast-10 {
  filter: contrast(0.1);
}

.contrast-15,
.filter-contrast-15 {
  filter: contrast(0.15);
}

.contrast-20,
.filter-contrast-20 {
  filter: contrast(0.2);
}

.contrast-25,
.filter-contrast-25 {
  filter: contrast(0.25);
}

.contrast-30,
.filter-contrast-30 {
  filter: contrast(0.3);
}

.contrast-35,
.filter-contrast-35 {
  filter: contrast(0.35);
}

.contrast-40,
.filter-contrast-40 {
  filter: contrast(0.4);
}

.contrast-45,
.filter-contrast-45 {
  filter: contrast(0.45);
}

.contrast-50,
.filter-contrast-50 {
  filter: contrast(0.5);
}

.contrast-55,
.filter-contrast-55 {
  filter: contrast(0.55);
}

.contrast-60,
.filter-contrast-60 {
  filter: contrast(0.6);
}

.contrast-65,
.filter-contrast-65 {
  filter: contrast(0.65);
}

.contrast-70,
.filter-contrast-70 {
  filter: contrast(0.7);
}

.contrast-75,
.filter-contrast-75 {
  filter: contrast(0.75);
}

.contrast-80,
.filter-contrast-80 {
  filter: contrast(0.8);
}

.contrast-85,
.filter-contrast-85 {
  filter: contrast(0.85);
}

.contrast-90,
.filter-contrast-90 {
  filter: contrast(0.9);
}

.contrast-95,
.filter-contrast-95 {
  filter: contrast(0.95);
}

.contrast-100,
.filter-contrast-100 {
  filter: contrast(1);
}

.contrast-105,
.filter-contrast-105 {
  filter: contrast(1.05);
}

.contrast-110,
.filter-contrast-110 {
  filter: contrast(1.1);
}

.contrast-115,
.filter-contrast-115 {
  filter: contrast(1.15);
}

.contrast-120,
.filter-contrast-120 {
  filter: contrast(1.2);
}

.contrast-125,
.filter-contrast-125 {
  filter: contrast(1.25);
}

.contrast-130,
.filter-contrast-130 {
  filter: contrast(1.3);
}

.contrast-135,
.filter-contrast-135 {
  filter: contrast(1.35);
}

.contrast-140,
.filter-contrast-140 {
  filter: contrast(1.4);
}

.contrast-145,
.filter-contrast-145 {
  filter: contrast(1.45);
}

.contrast-150,
.filter-contrast-150 {
  filter: contrast(1.5);
}

.contrast-155,
.filter-contrast-155 {
  filter: contrast(1.55);
}

.contrast-160,
.filter-contrast-160 {
  filter: contrast(1.6);
}

.contrast-165,
.filter-contrast-165 {
  filter: contrast(1.65);
}

.contrast-170,
.filter-contrast-170 {
  filter: contrast(1.7);
}

.contrast-175,
.filter-contrast-175 {
  filter: contrast(1.75);
}

.contrast-180,
.filter-contrast-180 {
  filter: contrast(1.8);
}

.contrast-185,
.filter-contrast-185 {
  filter: contrast(1.85);
}

.contrast-190,
.filter-contrast-190 {
  filter: contrast(1.9);
}

.contrast-195,
.filter-contrast-195 {
  filter: contrast(1.95);
}

.contrast-200,
.filter-contrast-200 {
  filter: contrast(2);
}

.contrast-initial,
.filter-contrast-initial {
  filter: contrast(initial);
}

.contrast-inherit,
.filter-contrast-inherit {
  filter: contrast(inherit);
}

.contrast-unset,
.filter-contrast-unset {
  filter: contrast(unset);
}
