/* ALIGN CONTENT | css/flexbox-grid/align-content/align-content.css */

.align-content-normal,
.ac-normal {
  align-content: normal;
}

.align-content-center,
.ac-center {
  align-content: center;
}

.align-content-flex-start,
.ac-flex-start {
  align-content: flex-start;
}

.align-content-start,
.ac-start {
  align-content: start;
}

.align-content-flex-end,
.ac-flex-end {
  align-content: flex-end;
}

.align-content-end,
.ac-end {
  align-content: end;
}

.align-content-space-around,
.ac-space-around {
  align-content: space-around;
}

.align-content-space-between,
.ac-space-between {
  align-content: space-between;
}

.align-content-space-around,
.ac-space-around {
  align-content: space-around;
}

.align-content-space-evenly,
.ac-space-evenly {
  align-content: space-evenly;
}

.align-content-baseline,
.ac-baseline {
  align-content: baseline;
}

.align-content-stretch,
.ac-stretch {
  align-content: stretch;
}

.align-content-initial,
.ac-initial {
  align-content: initial;
}

.align-content-inherit,
.ac-inherit {
  align-content: inherit;
}

.align-content-unset,
.ac-unset {
  align-content: unset;
}
