/* BLUR | css/filters/blur/blur.css */

.filter-backdrop-blur-0,
.backdrop-blur-0,
.backdrop-blur-none {
  backdrop-filter: blur(var(--size-0));
}

.filter-backdrop-blur-1,
.backdrop-blur-1,
.backdrop-blur-xsm {
  backdrop-filter: blur(var(--size-1));
}

.filter-backdrop-blur-2,
.backdrop-blur-2,
.backdrop-blur-sm {
  backdrop-filter: blur(var(--size-2));
}

.filter-backdrop-blur-3,
.backdrop-blur-3,
.backdrop-blur-rg {
  backdrop-filter: blur(var(--size-3));
}

.filter-backdrop-blur-4,
.backdrop-blur-4,
.backdrop-blur-md {
  backdrop-filter: blur(var(--size-4));
}

.filter-backdrop-blur-8,
.backdrop-blur-8,
.backdrop-blur-lg {
  backdrop-filter: blur(var(--size-8));
}

.filter-backdrop-blur-10,
.backdrop-blur-10,
.backdrop-blur-xl {
  backdrop-filter: blur(var(--size-10));
}

.filter-backdrop-blur-16,
.backdrop-blur-16,
.backdrop-blur-2xl,
.backdrop-blur-xxl {
  backdrop-filter: blur(var(--size-16));
}

.filter-backdrop-blur-20,
.backdrop-blur-20,
.backdrop-blur-3xl,
.backdrop-blur-xxxl {
  backdrop-filter: blur(var(--size-20));
}

.filter-backdrop-blur-32,
.backdrop-blur-32 {
  backdrop-filter: blur(var(--size-32));
}

.filter-backdrop-blur-48,
.backdrop-blur-48 {
  backdrop-filter: blur(var(--size-48));
}

.filter-backdrop-blur-64,
.backdrop-blur-64 {
  backdrop-filter: blur(var(--size-64));
}

.filter-backdrop-blur-80,
.backdrop-blur-80 {
  backdrop-filter: blur(var(--size-80));
}

.filter-backdrop-blur-96,
.backdrop-blur-96 {
  backdrop-filter: blur(var(--size-96));
}

.filter-backdrop-blur-initial,
.backdrop-blur-initial {
  backdrop-filter: blur(initial);
}

.filter-backdrop-blur-inherit,
.backdrop-blur-inherit {
  backdrop-filter: blur(inherit);
}

.filter-backdrop-blur-unset,
.backdrop-blur-unset {
  backdrop-filter: blur(unset);
}
