/* OUTLINE OFFSET | css/borders/outline-offset/outline-offset.css */

.outline-offset-0,
.oo-0 {
  outline-offset: var(--size-0);
}

.outline-offset-1,
.oo-1 {
  outline-offset: var(--size-1);
}

.outline-offset-2,
.oo-2 {
  outline-offset: var(--size-2);
}

.outline-offset-3,
.oo-3 {
  outline-offset: var(--size-3);
}

.outline-offset-4,
.oo-4 {
  outline-offset: var(--size-4);
}

.outline-offset-8,
.oo-8 {
  outline-offset: var(--size-8);
}

.outline-offset-10,
.oo-10 {
  outline-offset: var(--size-10);
}

.outline-offset-16,
.oo-16 {
  outline-offset: var(--size-16);
}

.outline-offset-20,
.oo-20 {
  outline-offset: var(--size-20);
}

.outline-offset-initial,
.oo-initial {
  outline-offset: initial;
}

.outline-offset-inherit,
.oo-inherit {
  outline-offset: inherit;
}

.outline-offset-unset,
.oo-unset {
  outline-offset: unset;
}
