/* GAP | css/flexbox-grid/gap/gap.css */

.gap-0 {
  gap: var(--size-0);
}

.gap-1 {
  gap: var(--size-1);
}

.gap-2 {
  gap: var(--size-2);
}

.gap-3 {
  gap: var(--size-3);
}

.gap-4 {
  gap: var(--size-4);
}

.gap-8 {
  gap: var(--size-8);
}

.gap-10 {
  gap: var(--size-10);
}

.gap-16 {
  gap: var(--size-16);
}

.gap-20 {
  gap: var(--size-20);
}

.gap-32 {
  gap: var(--size-32);
}

.gap-48 {
  gap: var(--size-48);
}

.gap-64 {
  gap: var(--size-64);
}

.gap-80 {
  gap: var(--size-80);
}

.gap-96 {
  gap: var(--size-96);
}

.gap-initial {
  gap: initial;
}

.gap-inherit {
  gap: inherit;
}

.gap-unset {
  gap: unset;
}

.gap-x-0 {
  row-gap: var(--size-0);
}

.gap-x-1 {
  row-gap: var(--size-1);
}

.gap-x-2 {
  row-gap: var(--size-2);
}

.gap-x-3 {
  row-gap: var(--size-3);
}

.gap-x-4 {
  row-gap: var(--size-4);
}

.gap-x-8 {
  row-gap: var(--size-8);
}

.gap-x-10 {
  row-gap: var(--size-10);
}

.gap-x-16 {
  row-gap: var(--size-16);
}

.gap-x-20 {
  row-gap: var(--size-20);
}

.gap-x-32 {
  row-gap: var(--size-32);
}

.gap-x-48 {
  row-gap: var(--size-48);
}

.gap-x-64 {
  row-gap: var(--size-64);
}

.gap-x-80 {
  row-gap: var(--size-80);
}

.gap-x-96 {
  row-gap: var(--size-96);
}

.gap-x-initial {
  row-gap: initial;
}

.gap-x-inherit {
  row-gap: inherit;
}

.gap-x-unset {
  row-gap: unset;
}

.gap-x-0 {
  row-gap: var(--size-0);
}

.gap-x-1 {
  row-gap: var(--size-1);
}

.gap-x-2 {
  row-gap: var(--size-2);
}

.gap-x-3 {
  row-gap: var(--size-3);
}

.gap-x-4 {
  row-gap: var(--size-4);
}

.gap-x-8 {
  row-gap: var(--size-8);
}

.gap-x-10 {
  row-gap: var(--size-10);
}

.gap-x-16 {
  row-gap: var(--size-16);
}

.gap-x-20 {
  row-gap: var(--size-20);
}

.gap-x-32 {
  row-gap: var(--size-32);
}

.gap-x-48 {
  row-gap: var(--size-48);
}

.gap-x-64 {
  row-gap: var(--size-64);
}

.gap-x-80 {
  row-gap: var(--size-80);
}

.gap-x-96 {
  row-gap: var(--size-96);
}

.gap-x-initial {
  row-gap: initial;
}

.gap-x-inherit {
  row-gap: inherit;
}

.gap-x-unset {
  row-gap: unset;
}

.gap-y-0 {
  column-gap: var(--size-0);
}

.gap-y-1 {
  column-gap: var(--size-1);
}

.gap-y-2 {
  column-gap: var(--size-2);
}

.gap-y-3 {
  column-gap: var(--size-3);
}

.gap-y-4 {
  column-gap: var(--size-4);
}

.gap-y-8 {
  column-gap: var(--size-8);
}

.gap-y-10 {
  column-gap: var(--size-10);
}

.gap-y-16 {
  column-gap: var(--size-16);
}

.gap-y-20 {
  column-gap: var(--size-20);
}

.gap-y-32 {
  column-gap: var(--size-32);
}

.gap-y-48 {
  column-gap: var(--size-48);
}

.gap-y-64 {
  column-gap: var(--size-64);
}

.gap-y-80 {
  column-gap: var(--size-80);
}

.gap-y-96 {
  column-gap: var(--size-96);
}

.gap-y-initial {
  column-gap: initial;
}

.gap-y-inherit {
  column-gap: inherit;
}

.gap-y-unset {
  column-gap: unset;
}
