/* BACKDROP CONTRAST | css/filters/backdrop-contrast/backdrop-contrast.css */

.backdrop-contrast-0,
.filter-backdrop-contrast-0 {
  backdrop-filter: contrast(0);
}

.backdrop-contrast-5,
.filter-backdrop-contrast-5 {
  backdrop-filter: contrast(0.5);
}

.backdrop-contrast-10,
.filter-backdrop-contrast-10 {
  backdrop-filter: contrast(0.1);
}

.backdrop-contrast-15,
.filter-backdrop-contrast-15 {
  backdrop-filter: contrast(0.15);
}

.backdrop-contrast-20,
.filter-backdrop-contrast-20 {
  backdrop-filter: contrast(0.2);
}

.backdrop-contrast-25,
.filter-backdrop-contrast-25 {
  backdrop-filter: contrast(0.25);
}

.backdrop-contrast-30,
.filter-backdrop-contrast-30 {
  backdrop-filter: contrast(0.3);
}

.backdrop-contrast-35,
.filter-backdrop-contrast-35 {
  backdrop-filter: contrast(0.35);
}

.backdrop-contrast-40,
.filter-backdrop-contrast-40 {
  backdrop-filter: contrast(0.4);
}

.backdrop-contrast-45,
.filter-backdrop-contrast-45 {
  backdrop-filter: contrast(0.45);
}

.backdrop-contrast-50,
.filter-backdrop-contrast-50 {
  backdrop-filter: contrast(0.5);
}

.backdrop-contrast-55,
.filter-backdrop-contrast-55 {
  backdrop-filter: contrast(0.55);
}

.backdrop-contrast-60,
.filter-backdrop-contrast-60 {
  backdrop-filter: contrast(0.6);
}

.backdrop-contrast-65,
.filter-backdrop-contrast-65 {
  backdrop-filter: contrast(0.65);
}

.backdrop-contrast-70,
.filter-backdrop-contrast-70 {
  backdrop-filter: contrast(0.7);
}

.backdrop-contrast-75,
.filter-backdrop-contrast-75 {
  backdrop-filter: contrast(0.75);
}

.backdrop-contrast-80,
.filter-backdrop-contrast-80 {
  backdrop-filter: contrast(0.8);
}

.backdrop-contrast-85,
.filter-backdrop-contrast-85 {
  backdrop-filter: contrast(0.85);
}

.backdrop-contrast-90,
.filter-backdrop-contrast-90 {
  backdrop-filter: contrast(0.9);
}

.backdrop-contrast-95,
.filter-backdrop-contrast-95 {
  backdrop-filter: contrast(0.95);
}

.backdrop-contrast-100,
.filter-backdrop-contrast-100 {
  backdrop-filter: contrast(1);
}

.backdrop-contrast-105,
.filter-backdrop-contrast-105 {
  backdrop-filter: contrast(1.05);
}

.backdrop-contrast-110,
.filter-backdrop-contrast-110 {
  backdrop-filter: contrast(1.1);
}

.backdrop-contrast-115,
.filter-backdrop-contrast-115 {
  backdrop-filter: contrast(1.15);
}

.backdrop-contrast-120,
.filter-backdrop-contrast-120 {
  backdrop-filter: contrast(1.2);
}

.backdrop-contrast-125,
.filter-backdrop-contrast-125 {
  backdrop-filter: contrast(1.25);
}

.backdrop-contrast-130,
.filter-backdrop-contrast-130 {
  backdrop-filter: contrast(1.3);
}

.backdrop-contrast-135,
.filter-backdrop-contrast-135 {
  backdrop-filter: contrast(1.35);
}

.backdrop-contrast-140,
.filter-backdrop-contrast-140 {
  backdrop-filter: contrast(1.4);
}

.backdrop-contrast-145,
.filter-backdrop-contrast-145 {
  backdrop-filter: contrast(1.45);
}

.backdrop-contrast-150,
.filter-backdrop-contrast-150 {
  backdrop-filter: contrast(1.5);
}

.backdrop-contrast-155,
.filter-backdrop-contrast-155 {
  backdrop-filter: contrast(1.55);
}

.backdrop-contrast-160,
.filter-backdrop-contrast-160 {
  backdrop-filter: contrast(1.6);
}

.backdrop-contrast-165,
.filter-backdrop-contrast-165 {
  backdrop-filter: contrast(1.65);
}

.backdrop-contrast-170,
.filter-backdrop-contrast-170 {
  backdrop-filter: contrast(1.7);
}

.backdrop-contrast-175,
.filter-backdrop-contrast-175 {
  backdrop-filter: contrast(1.75);
}

.backdrop-contrast-180,
.filter-backdrop-contrast-180 {
  backdrop-filter: contrast(1.8);
}

.backdrop-contrast-185,
.filter-backdrop-contrast-185 {
  backdrop-filter: contrast(1.85);
}

.backdrop-contrast-190,
.filter-backdrop-contrast-190 {
  backdrop-filter: contrast(1.9);
}

.backdrop-contrast-195,
.filter-backdrop-contrast-195 {
  backdrop-filter: contrast(1.95);
}

.backdrop-contrast-200,
.filter-backdrop-contrast-200 {
  backdrop-filter: contrast(2);
}

.backdrop-contrast-initial,
.filter-backdrop-contrast-initial {
  backdrop-filter: contrast(initial);
}

.backdrop-contrast-inherit,
.filter-backdrop-contrast-inherit {
  backdrop-filter: contrast(inherit);
}

.backdrop-contrast-unset,
.filter-backdrop-contrast-unset {
  backdrop-filter: contrast(unset);
}
