/* WHITE SPACE | css/typography/white-space/white-space.css */

.white-space-normal,
.ws-normal {
  white-space: normal;
}

.white-space-nowrap,
.ws-nowrap {
  white-space: nowrap;
}

.white-space-pre,
.ws-pre {
  white-space: pre;
}

.white-space-pre-line,
.ws-pre-line {
  white-space: pre-line;
}

.white-space-pre-wrap,
.ws-pre-wrap {
  white-space: pre-wrap;
}

.white-space-break-spaces,
.ws-break-spaces {
  white-space: break-spaces;
}

.white-space-initial,
.ws-initial {
  white-space: initial;
}

.white-space-inherit,
.ws-inherit {
  white-space: inherit;
}

.white-space-unset,
.ws-unset {
  white-space: unset;
}
